body {
	background-color: #ebeaea;
}

#saitas1 {
	width: 100%;
	height: 200px;
	background-color: #4f4747;
	display: flex;
	flex-direction: column; /* padeti logotipa virs linku (jei row eitu is eiles) */
	align-items: center; /* centruoti elementus vertikaliai */
}

	/* logo pozicija */
#logo {
	margin: 25px;
}

	/* navigacijos stilius */
#nav {
	width: 60%; /* galima valdyti nav elementu ploti */
	display: flex;
	justify-content: space-evenly; /* sintakse lygiam elementu isdestimui */
	align-items: center;
}

a:link {
	color: #9e9999;
}

a:visited {
	color: orange;
}

a:hover {
	background-color: #000000;
	color: #009933;
}

#nav ul {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}

#nav li {
	text-align: center; /* centruoti teksta su jo ikonomis */
}

/* nav ikonu stilius */
#nav img {
	margin-bottom: 8px;
}

#nav span {
	color: #9e9999;
	font-size: 1em;
}

#saitas2 {
	margin: 20px auto; /* auto centravimui */
	padding: 20px;
	width: 45%;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#pav1 {
	max-width: 100%;
    height: auto;
    display: block;
}

h1 {
	font-weight: bold;
	font-size: 1.5em;
	text-align: left;
	color: #009933;
	width: 100%; /* ispleciam 100 proc kad h1 stilius leistu buti necentruotu saitas2 konteinerio atzvilgiu */
}

.continue_reading_link {
	color: #009933;
	text-decoration: underline;
	font-weight: bold;
}

#saitas3 {
	display: flex;
	justify-content: center;
}

footer {
	margin-left: 20%;
}

/* reaktyvus stiliai */

@media only screen and (max-width: 767px) {
	body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /*pataisyti side scrolling issue */
	}
	
	#saitas1 {
        height: auto;
    }
	
    #nav ul {
        flex-direction: column; /* pakeiciam i column tipa */
    }

    #nav li {
        margin-bottom: 10px; /* daugiau vietos tarp ikonu */
    }

	#nav span {
		font-size: 1.5em;
		
	}
	#saitas2 {
		width: 70%;
		font-size: 1.2em;
	}
	
	#separator {max-width: 100vw; width:100%; height: auto;}
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
	#nav span {
		font-size: 1.5em;
	}
	
	#saitas2 {
		width: 70%;
		font-size: 1em;
	}
	
	#separator {max-width: 100vw; width:100%; height: auto;}
}

@media print {
	
	#saitas2 {
		width: 100%;
	}
	
	body {
		margin: 2cm 1cm 2cm 3cm;
	}
	
	h1, a.continue_reading_link, #text1 {
		color: #000000;
		font-family: "Times New Roman", Times, serif;
        font-size: 12pt;
        color: #000000;
	}
	
    /* nespausdinti */
    header, #saitas3, footer {
        display: none;
    }
}